.information {
    background: #242943;
    border-bottom: 2px solid #2A2F4A;
}

.information .form {
    float: left;
    width: 60%;
    height: 53rem;
    border-right: 2px solid #2A2F4A;
    padding: 4rem 0rem 2rem 10rem;
}


.div50{
    float: left;
    width: 49%;
    //background: red;
    padding-right: 3%;
    padding-top: 3%;
}

.information form input{
    background:#2a2f4a;
    border-width: 0;
    padding: 1rem 0rem 1rem 0rem;
    margin-top: 2rem;
    width: 100%;
    transition: all 0.1s;
    color: white;
    text-indent: 1rem;
    font-size: 1.2rem;
    font-weight: lighter;
}

.about-message {
    padding-top: 4%;
    padding-bottom: 6%;

}

.about-message label{
    margin-bottom: 2rem;
}


.information form textarea{
    margin-top: 3rem;
    background:#2a2f4a;
    border-width: 0;
    width: 95%;
    height: 20rem;
    transition: all 0.1s;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 1rem;
}

.information form mobile-style-button {
    float: left;
    width: 100%;
}


.information .email-address {
    float: left;
    width: 40%;
    height: 53rem;
}

.information .email-address>div{
    padding: 4rem 4rem 2rem 4rem;
    border-bottom: 2px solid #2A2F4A;
}

.information .email-address>div+div+div{
    padding: 4rem 4rem 2rem 4rem;
    border-bottom: none;
}



.around-ico-1 {
    display: inline-block;
    border-radius: 50%;
    background: white;
    color: #2a2f4a;
    padding: 1rem;
    float: left;
}

.around-ico-1+div {
    padding: 1rem 2rem 1rem 2rem;
    display: inline-block;
}

.information .div-with-a {
    padding: 1rem 2rem 2rem 6rem;
}
.information .div-with-a a {
     text-decoration: none;
     border-bottom: dotted 1px white;
     color: white;
     transition: all 1s ;
     font-size: 1.4rem;
     font-weight: lighter;
}

.information .div-with-a p {
    font-size: 1.4rem;
    font-weight: lighter;
    padding-top: 1rem;
    white-space:nowrap;
}



.information .div-with-a a:hover {
    color: #53e3fb;
    border-bottom: none;
}




.information .email-address h3 {
    font-size: 1.5rem;
}

.email-address h3 {
    display: inline-block;
}