*{
    padding: 0;
    margin: 0;
}
.modal{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    background: rgba(0,0,0, .5);
    pointer-events: none;
    display: none;
    z-index: 1;
}
.modal:target {
   display: block;
    pointer-events: auto;
}

.popup {
    position: absolute;
    z-index: 3;
    background: red;
    margin: auto;

}